.favorites-container {
  margin: 20px;
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.favorite-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorite-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.back-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  width: fit-content;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}
