/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

.register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 60px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increase width */
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 12px; /* Increase padding */
  margin-top: 15px; /* Increase margin */
  margin-bottom: 25px; /* Increase margin */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button,
.back-button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px; /* Increase padding */
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; /* Increase font size */
  margin-top: 15px; /* Increase margin */
}

.register-button:hover,
.back-button:hover {
  background-color: #0056b3;
}
